body {
    background-color: rgb(230, 240, 255);
    color: maroon;
    font-family: Arial;
    margin: 20px;
}
main {
    background-color: rgba(174, 253, 227, 0.281);
}
header {
    background-color: rgba(120, 251, 255, 0.219);
}
footer {
    background-color: rgba(120, 251, 255, 0.219);
}
a{
    text-decoration: none;
}